@layer components {
    #board {
        width: 100vh;
        height: 100vh;
        position: absolute;
        left: 25vw;
        @apply drop-shadow-2xl;
    }

    .row {
        height: 12.5%;
    }
}
