@layer components {
    #board {
        width: 100vh;
        height: 100vh;
        position: absolute;
        left: calc(50% - 50vh);
        @apply select-none;
    }

    .row {
        height: 12.5%;
    }
}
