@layer components {
  .square::after {
    content: "";
    @apply opacity-60 top-0 left-0 right-0 bottom-0 absolute -z-10 bg-cover;
  }

  .square.Black::after {
    background: url("../images/black.jpg");
  }

  .square.White::after {
    background: url("../images/white.jpg");
  }
}
