@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background: #0d0f0e url("../images/background.jpg") no-repeat center fixed;
    background-size: cover;
    background-position: top;
  }

  #splash {
    @apply flex justify-center;
  }

  #splash img {
    max-width: 90%;
  }

  #splash button {
    @apply absolute z-50 bottom-0 m-20;
    left: calc(50vw - 230px);
    width: 300px;
  }

  #menu {
    @apply absolute top-0 right-0 p-2;
  }

  .square::after {
    content: "";
    @apply opacity-60 top-0 left-0 right-0 bottom-0 absolute -z-10 bg-cover;
  }

  .square.Black::after {
    background: url("../images/black.jpg");
  }

  .square.White::after {
    background: url("../images/white.jpg");
  }
}
