@import '@components/Square/Square.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        background: #0d0f0e url('images/background.jpg') no-repeat center fixed;
        background-size: cover;
        background-position: top;
    }

    #splash img {
        @apply absolute;
        left: calc(50vw - 400px);
    }

    #splash button {
        @apply absolute z-50 bottom-0 m-20;
        left: calc(50vw - 230px);
        width: 300px;
    }

    #menu {
        @apply absolute top-0 right-0 p-2;
    }
}